@model IEnumerable<ToDoApp.Models.ToDoInfo>
@{
    ViewData["Title"] = "トップページ";
}

<h1>TODOアプリ</h1>

<button>
    <a href="/ToDo/Create">追加</a>
</button>
<br />

<table border="1">
    <thead>
        <tr>
            <th>題名</th><th>本文</th><th>日付</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var todo in Model)
		{
            <tr>
                <td>@todo.Title</td>
                <td>@todo.Body</td>
                <td>@todo.Date</td>
                <td><a href=@string.Format("ToDo/Delete/{0}", todo.Id)>削除</a></td>
            </tr>
		}
    </tbody>
</table>
